<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sobre</ion-title>
        <ion-img src="assets/em01.jpg" slot="end" class="logo-geral"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

    <h2>Quem somos?</h2>
    <p>Somos uma loja online que oferece o melhor para os nossos clientes, onde podemos atender todas as expectativas sobre a moda feminina e maculina sempre de olho nas tendências e lançamentos. Nossa loja oferece o que há de mais moderno e atual em todas
        as categorias de produtos. Desde o princípio, nossa preocupação é oferecer os melhores produtos com os melhores preços aliado a um ótimo atendimento a você cliente, que é a pessoa mais importante para nós.!</p>

</ion-content>